<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gobbledygook.theawless.eventlock">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:icon="@drawable/eventlock_icon"
        android:label="@string/application_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:allowBackup="true"
        android:fullBackupContent="true">
        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Shows your calendar events on the lock screen." />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".app.MainActivity"
            android:label="@string/application_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.CalendarLoaderService"
            android:enabled="true"
            android:label="@string/calendar_loader_service_name" />
        <service
            android:name=".services.CurrentEventUpdaterService"
            android:enabled="true"
            android:label="@string/current_event_updater_service_name" />

        <receiver
            android:name=".receivers.alarms.CurrentEventUpdaterAlarm"
            android:enabled="true"
            android:label="@string/current_event_updater_alarm_name" />
        <receiver
            android:name=".receivers.alarms.CalendarLoaderAlarm"
            android:enabled="true"
            android:label="@string/calendar_loader_alarm_name" />
        <receiver
            android:name=".receivers.CommonReceiver"
            android:enabled="true"
            android:label="@string/common_receiver_alarm_name">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>