<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gobbledygook.theawless.eventlock">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".PreferenceProvider"
            android:authorities="@string/authority"
            android:exported="true" />

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Shows calendar events on lockscreen." />
        <meta-data
            android:name="xposedminversion"
            android:value="53" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".AlarmReceiver" />
        <service android:name=".SchedulingService" />
        <receiver
            android:name=".CommonReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" />
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
                <data android:host="com.android.calendar" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="content" />
                <action android:name="android.intent.action.PROVIDER_CHANGED" />
                <data android:host="com.google.android.calendar" />
            </intent-filter>
        </receiver>
    </application>

</manifest>